/**
 * base.css
 * Project: Pomo
 * Naamio
 */

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Base Colors
- Layout
- Base Styles
- Typography
- Selectors
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Clearing
- Media Queries
*/

/* Base Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */

:root {
    --body-font-family: "Noto Sans", Arial, Helvetica, sans-serif;
    --condensed-font-family: "Noto Sans Condensed", Arial, Helvetica, sans-serif;
    --dark-base-color: rgba(102,102,102,1);
    --light-base-color: rgba(255,255,255,1);
    --neutral-color: rgba(236,237,238,1);
    --action-color: rgba(0,179,161,1);
    --warning-color: rgba(255,64,25,1);
    --success-color: rgba(0,179,54,1);
    --alert-color: rgba(255,165,76,1);
    --spacing-unit: 1rem;
    --default-transition-style: 0.2s ease;
    --fixed-bar-height: 3rem;
}

html {
    background-color: var(--light-base-color);
    color: var(--dark-base-color);
}

main {
    background-color: var(--light-base-color);
}

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html {
    font-size: 16px;
}

body {
    font-family: var(--body-font-family);
    font-feature-settings: "liga" on;
    font-variant-ligatures: common-ligatures;  
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    height: 100%;
    line-height: 1.4;
    margin: 0;
    text-rendering: optimizeLegibility;
    width: 100%;
}

main {
    margin-bottom: 4em;
}

footer {
    padding-left: 1.25em;
    padding-right: 1.25em;
}

main > section {
    padding-bottom: 2em;

}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 1.5rem;
}

h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 1.25rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    line-height: 1.1;
}

a, abbr, button, input, label, mark, option, optgroup, p, pre, select, span, sub, sup, textarea {
    font-weight: 400;
}

blockquote, details, figure {
    font-weight: 400;
}

h1 { 
    line-height: 1; 
}

h2 { 
    line-height: 1;
    text-transform: uppercase;
}

h3 { 
    line-height: 1.1; 
}

h4 { 
    line-height: 1.1; 
    letter-spacing: 0.1em;
}

h1, h2, h3 {
    max-width: 66ch;
}

h4, h5, h6, p, blockquote {
    max-width: 50ch;
}

p { 
    font-size: 1em;
    font-weight: 400; 
    line-height: 1.6;
    max-width: 66ch;
    margin-bottom: 1.5rem;
    word-break: break-word;
    word-wrap: break-word;
    -moz-hyphens: auto;
    hyphens: auto;
    font-feature-settings: "liga","dlig";
}

blockquote { 
    font-size: 1.6em;
    line-height: 1.6;
    margin-left: 0;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-top: 1em;
}

strong {
    font-weight: 700; 
}

b, bold {
    font-weight: 700; 
}

em {
    font-style: italic;
}

label, small {
    font-family: var(--condensed-font-family);
    font-size: 0.667rem;
    font-stretch: condensed;
}

abbr[title] {
    text-decoration: none;
}

/* Selectors
–––––––––––––––––––––––––––––––––––––––––––––––––– */

::-moz-selection {
    color: var(--success-color);
    background: var(--neutral-color);
}

::selection {
    color: var(--success-color);
    background: var(--neutral-color);
}

img::-moz-selection {
    background-color: var(--success-color);
    color: var(--success-color);
}

img::selection {
    background: var(--success-color);
}
  
/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"]:not(.search-submit),
input[type="reset"],
input[type="button"] {
    background-color: transparent;
    box-sizing: border-box; 
    transition: var(--default-transition-style);
    white-space: nowrap;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
    color: var(--dark-base-color);
    outline: 0; 
    transition: var(--default-transition-style);
}

.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
    outline: 0; 
    transition: var(--default-transition-style);
}

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */

form {
    position: relative;
}

input,
label,
select,
textarea {
    position: relative;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
    background-color: var(--light-base-color);
    border: var(--light-border-line);
    border-radius: 0.25em;
    box-shadow: none;
    box-sizing: border-box; 
    height: 2.5em;
    padding: 0.625em 0.75em 0.625em 0.75em;
    position: relative;
    transition: border 0.1s ease-out;
}

input[type="search"] {
    padding: 0.625rem 2.5em 0.625rem 0.75rem;
    width: 100%;
}

select {
    cursor: pointer;
}

option {
    height: 2em;
    padding: 0.5em;
}

/* Removes awkward default styles on some inputs */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}

select:-moz-focusring {
    color: transparent;
}

textarea {
    min-height: 4.5rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    resize: vertical;
}

label,
legend {
    color: var(--dark-base-color);
    display: block;
}

label {
    line-height: 1.3;
}

fieldset {
    border-width: 0; 
    padding: 0;
    position: relative;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline; 
}

[disabled],
[disabled] {
    cursor: default !important;
    opacity: 0.6;
}

[disabled]:hover, 
[disabled]:active {
    background-color: initial !important;
    box-shadow: none !important;
    color: initial !important;
    transition: none !important;
}

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
    list-style: disc inside;
}

ol {
    list-style: decimal inside;
}

ol, ul {
    padding-left: 0;
    margin-top: 0; 
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin: 1.5em 0 0 3em;
}

li {
    margin-bottom: 1em;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0;
    text-align: center;
}

nav li a {
    cursor: pointer;
    display: block;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0.04em;
    line-height: 1.25em;
    padding: 1.25rem 0.5rem;
    text-decoration: none;
}

/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
    border-radius: 0.25em; 
    font-size: 90%;
    margin: 0 0.2em;
    padding: 0.2em 0.5em;
    white-space: nowrap;
}

pre > code {
    display: block;
    padding: 1em 1.5em;
    white-space: pre; 
}


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
    text-align: left;
}

th:first-child,
td:first-child {
    padding-left: 0; 
}

th:last-child,
td:last-child {
    padding-right: 0; 
}


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
    margin-bottom: 1.5rem; 
}

input,
textarea,
select,
fieldset {
    margin-bottom: 1.5rem; 
}

fieldset ~ fieldset {
    margin-bottom: 0;
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
    margin-bottom: 2.5rem; 
}

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
    margin-top: 3em;
    margin-bottom: 3.5em;
}

svg {
    clip-rule: evenodd;
    fill-rule: evenodd;
    stroke-linejoin: round;
    stroke-miterlimit: 1.41421;
}