/**
 * fonts.css
 * Project: Pomo
 * Omnijar Studio
 */
 
@font-face {
  font-family: "Noto Sans";
  src: local("Noto Sans"),
       local("NotoSans");
  src: url('../../fonts/NotoSans/NotoSans-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;     
}