.icon {
    display: inline-block;
  }
  .icon-add {
    width: 32px;
    height: 32px;
  }
  .icon-arrow_back {
    width: 32px;
    height: 32px;
  }
  .icon-check_circle {
    width: 32px;
    height: 32px;
  }
  .icon-favorite {
    width: 32px;
    height: 32px;
  }
  .icon-favorite_border {
    width: 32px;
    height: 32px;
  }
  .icon-filter_list {
    width: 32px;
    height: 32px;
  }
  .icon-menu {
    width: 32px;
    height: 32px;
  }
  .icon-photo {
    width: 32px;
    height: 32px;
  }
  .icon-reply {
    width: 32px;
    height: 32px;
  }
  .icon-search {
    width: 32px;
    height: 32px;
  }
  .icon-share {
    width: 32px;
    height: 32px;
  }
  .icon-trending_up {
    width: 32px;
    height: 32px;
  }
  .icon-twotone-comment {
    width: 32px;
    height: 32px;
  }
  .icon-twotone-delete {
    width: 32px;
    height: 32px;
  }
  .icon-twotone-edit {
    width: 32px;
    height: 32px;
  }
  .icon-twotone-pages {
    width: 32px;
    height: 32px;
  }
  .icon-twotone-posts {
    width: 32px;
    height: 32px;
  }
  .icon-twotone-publish {
    width: 32px;
    height: 32px;
  }
  .icon-twotone-unpublish {
    width: 32px;
    height: 32px;
  }
  .icon-video {
    width: 32px;
    height: 32px;
  }



  
  