/**
 * vectors.css
 * Project: Pomo
 * Naamio
 */

svg[id*="icon"] {
  fill: var(--dark-base-color, rgba(102,102,102,1));
}

svg[id*="icon-twotone"] .twotone-inner {
  fill: var(--dark-base-color, rgba(102,102,102,1));
  opacity: 0;
}

button.active svg[id*="icon-twotone"] .twotone-inner {
  opacity: 0;
}

#gradient-horizontal {
  --color-stop-1: rgb(255,145,112);
  --color-stop-2: rgb(255,117,97);
  --color-stop-3: rgb(255,88,82);
}

#gradient-vertical {
  --color-stop-1: rgb(0,184,230);
  --color-stop-2: rgb(0,179,161);
  --color-stop-3: rgb(0,179,107);
}

.icon-hgradient {
  fill: url(#gradient-horizontal) var(--dark-base-color, rgba(102,102,102,1));
}

.icon-vgradient {
  fill: url(#gradient-vertical) var(--dark-base-color, rgba(102,102,102,1));
}

  #icon-add {
    width: 32px;
    height: 32px;
  }
  #icon-arrow-back {
    width: 32px;
    height: 32px;
  }
  #icon-check-circle {
    width: 32px;
    height: 32px;
  }
  #icon-favorite {
    width: 32px;
    height: 32px;
  }
  #icon-favorite-border {
    width: 32px;
    height: 32px;
  }
  #icon-filter-list {
    width: 32px;
    height: 32px;
  }
  #icon-menu {
    width: 32px;
    height: 32px;
  }
  #icon-photo {
    width: 32px;
    height: 32px;
  }
  #icon-reply {
    width: 32px;
    height: 32px;
  }
  #icon-search {
    width: 32px;
    height: 32px;
  }
  #icon-share {
    width: 32px;
    height: 32px;
  }
  #icon-trending-up {
    width: 32px;
    height: 32px;
  }
  #icon-twotone-comment {
    width: 32px;
    height: 32px;
  }
  #icon-twotone-delete {
    width: 32px;
    height: 32px;
  }
  #icon-twotone-edit {
    width: 32px;
    height: 32px;
  }
  #icon-twotone-pages {
    width: 32px;
    height: 32px;
  }
  #icon-twotone-posts {
    width: 32px;
    height: 32px;
  }
  #icon-twotone-publish {
    width: 32px;
    height: 32px;
  }
  #icon-twotone-unpublish {
    width: 32px;
    height: 32px;
  }
  #icon-video {
    width: 32px;
    height: 32px;
  }



  
  