/**
 * footer.css
 * Project: Pomo
 * Naamio
 */

body > footer {
    background-color: var(--light-base-color);
    bottom: 0;
    height: var(--fixed-bar-height, 60px);
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
}

button#footer-profile-link svg {
    height: var(--fixed-bar-height, 60px);
    width: var(--fixed-bar-height, 60px);
}

button#footer-profile-link svg circle#outline {
    stroke-width: 0;
}

button#footer-profile-link svg circle#navbar-user-image {
    clip-path: circle(50% at 50% 50%);
    fill: white;
}