/**
 * header.css
 * Project: Pomo
 * Naamio
 */

body > header {
    align-items: center;
    -webkit-align-items: center;
    background-color: var(--light-base-color);
    display: flex;
    display: -webkit-flex;
    flex: 0 0 auto;
    flex-direction: row;
    height: var(--fixed-bar-height, 50px);
    justify-content: space-between;
    -webkit-justify-content: space-between;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

body > header h1 {
    font-size: 1.3rem;
    font-weight: 800;
    letter-spacing: 1.2px;
    margin-bottom: 0;
    padding-left: var(--fixed-bar-height, 50px);
    text-align: center;
    text-transform: uppercase;
}

header > button {
    border: 0;
    height: var(--fixed-bar-height, 50px);
    margin-bottom: 0;
    padding: 0;
    width: var(--fixed-bar-height, 50px);
}

@supports (display:grid) {

    body > header {
        display: grid;
        grid-template-columns: var(--fixed-bar-height, 50px) 1fr var(--fixed-bar-height, 50px) var(--fixed-bar-height, 50px);
    }
}