/**
 * main.css
 * Project: Pomo
 * Naamio
 */

main {
    background-color: var(--neutral-color);
    box-sizing: border-box;
    height: 100%;
    margin: var(--fixed-bar-height, 60px) 0 var(--fixed-bar-height, 60px) 0;
    min-height: calc(100vh - 2 * var(--fixed-bar-height, 60px));
    padding: var(--spacing-unit);
}

.icon-button,
footer nav button {
    align-items: center;
    -webkit-align-items: center;
    background-color: var(--neutral-color, rgba(236,237,238,1));
    box-shadow: inset 0 0 0 var(--fixed-bar-height, 60px) var(--light-base-color, white);
    display: flex;
    display: -webkit-flex;
    flex: 0 0 auto;
    flex-direction: column;
    -webkit-flex-direction: column;
    flex: 0 0 auto;
}

.icon-button:hover,
.icon-button:active {
    background-color: var(--neutral-color, rgba(236,237,238,1));
    box-shadow: inset 0 0 0 4px var(--light-base-color, white);
}

footer nav button:hover,
footer nav button:active {
    background-color: var(--neutral-color, rgba(236,237,238,1));
    box-shadow: inset 0 0 0 0px var(--light-base-color, white);
}

.icon-button > label,
footer nav button label {
    text-align: center;
    width: 100%;
}