/**
 * nav.css
 * Project: Pomo
 * Naamio
 */

footer > nav {
    display: flex;
    display: -webkit-flex;
    flex: 2 0 20%;
    flex-direction: row;
    justify-content: stretch;
    -webkit-justify-content: stretch;
}

footer > nav button {
    border: 0;
    height: var(--fixed-bar-height, 50px);
    flex-grow: 2;
    -webkit-flex-grow: 2;
    flex-basis: 20%;
    -webkit-flex-basis: 20%;
    margin-bottom: 0;
    min-width: var(--fixed-bar-height, 50px);
    padding: 0;
    position: relative;
}

footer > nav svg {
    height: 20px;
    transition: var(--default-transition-style);
    width: 24px;
}

footer > nav button:active svg,
footer > nav button.active svg {
    height: 32px;
    margin-bottom: -2px;
    margin-top: -4px;
    transition: var(--default-transition-style);
    width: 24px;
}

footer > nav button:active svg, 
footer > nav button.active svg, 
nav button:active label,
nav button.active label  {
    color: var(--action-color);
    fill: var(--action-color);
}