<footer>
    <nav>
        <button>
            <svg width="auto" height="32px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="#icon-menu" href="{% asset "/images/vectors/icons/symbol-defs.svg#icon-menu" %}" />
            </svg>
        </button>
        <button>
            <svg width="auto" height="32px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="#icon-twotone-comment" href="{% asset "/images/vectors/icons/symbol-defs.svg#icon-twotone-comment" %}" />
            </svg>
        </button>
        <button>
            <svg width="auto" height="32px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="#icon-twotone-pages" href="{% asset "/images/vectors/icons/symbol-defs.svg#icon-twotone-pages"  %}" />
            </svg>
        </button>
        <button>
            <svg width="auto" height="32px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="#icon-twotone-posts" href="{% asset "/images/vectors/icons/symbol-defs.svg#icon-twotone-posts"  %}" />
            </svg>
        </button>
        <button>
            <svg width="auto" height="32px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                <circle>
                </circle>
            </svg>
        </button>
    </nav>
</footer>