<footer>
    <nav>
        <button>
            <svg id="#icon-menu" width="auto" height="32px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="#icon-menu" href="{% asset "/images/vectors/icons/symbol-defs.svg#icon-menu" %}" />
            </svg>
            <label>menu</label>
        </button>
        <button>
            <svg id="#icon-twotone-comment" width="auto" height="32px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                <path class="twotone-inner" d="M26.667 22.893v-17.56h-21.333v16h19.773l1.56 1.56zM24 18.667h-16v-2.667h16v2.667zM24 14.667h-16v-2.667h16v2.667zM24 10.667h-16v-2.667h16v2.667z"></path>
                <path d="M5.333 24h18.667l5.333 5.333-0.013-24c0-1.467-1.187-2.667-2.653-2.667h-21.333c-1.467 0-2.667 1.2-2.667 2.667v16c0 1.467 1.2 2.667 2.667 2.667zM5.333 5.333h21.333v17.56l-1.56-1.56h-19.773v-16z"></path>
                <path d="M8 16h16v2.667h-16v-2.667z"></path>
                <path d="M8 12h16v2.667h-16v-2.667z"></path>
                <path d="M8 8h16v2.667h-16v-2.667z"></path>
            </svg>
            <label>activity</label>
        </button>
        <button>
            <svg id="#icon-twotone-pages" width="auto" height="32px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                <path class="twotone-inner" d="M4 8h10.667v17.333h-10.667v-17.333z"></path>
                <path d="M28 5.333h-24c-1.467 0-2.667 1.2-2.667 2.667v17.333c0 1.467 1.2 2.667 2.667 2.667h24c1.467 0 2.667-1.2 2.667-2.667v-17.333c0-1.467-1.2-2.667-2.667-2.667zM14.667 25.333h-10.667v-17.333h10.667v17.333zM28 25.333h-10.667v-17.333h10.667v17.333z"></path>
                <path d="M18.667 12.667h8v2h-8v-2z"></path>
                <path d="M18.667 16h8v2h-8v-2z"></path>
                <path d="M18.667 19.333h8v2h-8v-2z"></path>
            </svg>
            <label>pages</label>
        </button>
        <button>
            <svg id="#icon-twotone-posts" width="auto" height="32px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                <path class="twotone-inner" d="M19.333 3.431h-9.333v21.333h16v-14.667h-6.667v-6.667zM23.333 22.098h-10.667v-2.667h10.667v2.667zM23.333 14.098v2.667h-10.667v-2.667h10.667z"></path>
                <path d="M12.667 19.431h10.667v2.667h-10.667v-2.667z"></path>
                <path d="M12.667 14.098h10.667v2.667h-10.667v-2.667z"></path>
                <path d="M20.667 0.765h-10.667c-1.467 0-2.667 1.2-2.667 2.667v21.333c0 1.467 1.187 2.667 2.653 2.667h16.013c1.467 0 2.667-1.2 2.667-2.667v-16l-8-8zM26 24.765h-16v-21.333h9.333v6.667h6.667v14.667z"></path>
                <path d="M3.333 27.182v-19.751c0-1.429 1.2-2.607 2.667-2.667v21.333c0 1.467 1.2 2.667 2.667 2.667h1.333v0.001c4.933 0.063 9.733 0.096 14.667 0.025l-0.267 1.009c-0.267 0.603-0.667 1.095-1.2 1.375-5.333 0.096-10.667 0.064-16-0.005-2-0.077-3.733-1.831-3.867-3.891v-0.097z"></path>
            </svg>
            <label>posts</label>
        </button>
        <button id="footer-profile-link">
            <svg width="auto" height="32px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                <svg aria-hidden="true" focusable="false" style="width:0;height:0;position:absolute;">
                    <linearGradient id="gradient-horizontal">
                        <stop offset="0%" stop-color="var(--color-stop-1)" />
                        <stop offset="50%" stop-color="var(--color-stop-2)" />
                        <stop offset="100%" stop-color="var(--color-stop-3)" />
                    </linearGradient>
                    <linearGradient id="gradient-vertical" x2="0" y2="1">
                        <stop offset="0%" stop-color="var(--color-stop-1)" />
                        <stop offset="50%" stop-color="var(--color-stop-2)" />
                        <stop offset="100%" stop-color="var(--color-stop-3)" />
                    </linearGradient>
                </svg>
                <circle class="icon-hgradient" id="outline" cx="50%" cy="50%" r="33%">
                </circle>
                <circle id="navbar-user-image" cx="50%" cy="50%" r="28%">

                </circle>
            </svg>
        </button>
    </nav>
</footer>