<header>
    <button class="icon-button">
        <svg id="#icon-arrow_back" width="26px" height="26px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="#icon-arrow_back" href="{% asset "/images/vectors/icons/symbol-defs.svg#icon-arrow_back" %}" />
        </svg>
    </button>
    <h1>Pages</h1>
    <button class="icon-button">
        <svg id="#icon-twotone-edit" width="26px" height="26px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="#icon-twotone-edit" href="{% asset "/images/vectors/icons/symbol-defs.svg#icon-twotone-edit" %}" />
        </svg>
    </button>
    <button class="icon-button">
        <svg id="#icon-search" width="26px" height="26px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="#icon-search" href="{% asset "/images/vectors/icons/symbol-defs.svg#icon-search" %}" />
        </svg>
    </button>
</header>