<header>
    <button class="icon-button">
        <svg width="auto" height="32px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="#icon-" href="#icon-" />
        </svg>
    </button>
    <h1>Pages</h1>
    <button class="icon-button">
        <svg width="auto" height="32px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="#icon-" href="#icon-" />
        </svg>
    </button>
    <button class="icon-button">
        <svg width="auto" height="32px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="#icon-" href="#icon-" />
        </svg>
    </button>
</header>